/* BlankCertificate.css */
.certificate-maker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .drop-zone {
    border: 2px dashed #aaa;
    width: 842px; 
    height: 595px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-right: auto;
    top: 0px;
  }
  

  
  .drop-zone img {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Add this to disable the default border */
  .drop-zone.uploaded {
    border: none;
    padding: 0;
  }
  /* Add this CSS code to your BlankCertificate.css file */

.logo-box {
  margin-top: 150px;
    border: 2px solid #333; /* Add a border around the logo box */
    padding: 10px; /* Add some padding to the logo box */
    background-color:  rgb(229, 229,245); /* Set a background color for the logo box */
    display: flex; /* Use flexbox to arrange logos horizontally */
    flex-wrap: wrap; /* Allow logos to wrap to the next row if necessary */
    justify-content: flex-start; /* Align logos to the start of the box */
    align-items: justify-content-around; /* Align logos to the top of the box */
    border: 2px solid #333;
  }

  .delete-button {
    margin-top: 10px;
   
  }

  .sign-box {
    margin-top: 150px;
    border: 2px solid #333; /* Add a border around the logo box */
    padding: 10px; /* Add some padding to the logo box */
    background-color:  rgb(229, 229, 245); /* Set a background color for the logo box */
    display: flex; /* Use flexbox to arrange logos horizontally */
    flex-wrap: wrap; /* Allow logos to wrap to the next row if necessary */
    justify-content: flex-start; /* Align logos to the start of the box */
    align-items: justify-content-around; /* Align logos to the top of the box */
  }
  /* .draggable-logo {
    position: absolute;
    z-index: 1; // Set a higher z-index value 
  } */

  